{{- $git_user_name := promptString "git_user_name" -}}
{{- $git_user_email := promptString "git_user_email" -}}

[data]
    git_user_name = {{ $git_user_name | quote }}
    git_user_email = {{ $git_user_email | quote }}
